:root {
  /* COLORS */
  --background-color: #f5eacc;
  --text-color: #333;
  --light-black-color: #888888;
  --interactive-color: #754d45;
  --green-color: #356463;
  --blue-color: #3185a3;
  --gray-color: #333333;
  --gray-light-color: #cdcdcd;
  --white-color: #ffffff;
}

@media (prefers-color-scheme: dark){
    :root {
    /* MODO OSCURO */
    --background-color: #0f0f0f;
    --text-color: #f0f0f0;
    --light-black-color: #b0b0b0;
    --interactive-color: #c89d95;
    --green-color: #5ba6a5;
    --blue-color: #5ba6c5;
    --gray-color: #cccccc;
    --gray-light-color: #333333;
    --white-color: #1a1a1a;
    --card-bg: #2a2a2a;
    --border-color: #444444;
  }
}

/* Fonts */
@font-face {
  /* Texts */
  font-family: SFpro;
  src: url(../public/SF-Pro-Display-Regular.otf);
  font-display: sans-serif, Arial;
}

@font-face {
  font-family: SFpro-Title;
  src: url(../public/SF-Pro-Display-Regular.otf);
  font-display: sans-serif, Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./assets/images/bg-abstract.svg);
  background-position: center;
  font-family: SFpro-Title, sans-serif !important;
}

/* Texts */

.title {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 3.2rem;
  margin: 0;
  color: var(--text-color);
}

.subtitle {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  color: var(--text-color);
}

.text {
  font-size: 1.6rem;
  font-weight: 100;
  margin: 0;
  color: var(--text-color);
  text-wrap: pretty;
}

.text__mb {
  margin-bottom: 1.2rem;
}

.text__interactive {
  font-size: 1.8rem;
  margin: 0;
  color: var(--interactive-color);
}

.container__section {
  padding-top: 10rem;
}

.pacman__container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@media (max-width: 1024px) {
  .container__section {
    padding-top: 12rem;
  }

  .title {
    font-size: 2.4rem;
  }
}

@media (max-width: 425px) {
  .container__section {
    padding-top: 10rem;
  }
}
