.about__who {
  display: flex;
  flex-direction: row;
  padding-top: 3.2rem;
  gap: 2.4rem;

}

.who__images {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0 auto;
}

.who__image {
  max-width: 280px;
  object-fit: cover;
  border-radius: 1.5rem;
  max-width: 100%;
  height: auto;
}

.who__texts {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1.6rem;
}

.who__link {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  margin-left: 2.8rem;
  font-weight: bold;

  color: var(--green-color);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 200px;
}

.about__toolbox {
  display: flex;
  flex-direction: column;
  padding-top: 3.2rem;
}

.toolbox__texts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.tools__container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2.4rem;
  max-width: 80%;
  margin: 0 auto;
}

.tool{
  text-align: center;
}

@media (max-width: 700px) {
  .about__who {
    flex-direction: column;
    padding-top: 2.4rem;
    gap: 2.4rem;
  }

  .tools__container {
    max-width: 100%;
    margin: 0;
    gap: 1.6rem;
  }

  .who__image {
    width: 240px;
    max-width: 240px;
    object-fit: cover;
    border-radius: 1.5rem;
    max-width: 100%;
    height: auto;
  }
}
