.body__container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: 1024px;
  padding: 5.6rem 5.6rem 0 5.6rem;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.2rem;
}

.header__title {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header__logo {
  width: 16rem;
  display: block;
}

/* MAIN */

.main{
  padding-top: 4.8rem;
}

@media (max-width: 1200px) {
  .body__container {
    padding: 3.2rem 3.2rem;
  }

  .header__logo {
    width: 14rem;
    display: block;
  }

  .main{
    padding-top: 3.2rem;
  }
  
}

@media (max-width: 600px) {
  .body__container {
    padding: 4rem 1.6rem;
  }

  /* HEADER */

  .header {
    display: flex;
    flex-direction: column;
  }

  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
  }

  .header__title {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .header__logo {
    display: none;
  }

  /* MAIN */

  .main{
    padding-top: 2.4rem;
  }
}
