.body__container {
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: 1024px;
  padding: 2.4rem 5.6rem 2.4rem 5.6rem;
}

.main {
  padding-top: 1.6rem;
}

@media (max-width: 1200px) {
  .body__container {
    padding: 3.2rem;
  }
}

@media (max-width: 600px) {
  .body__container {
    padding: 2.4rem;
  }
}
