.button__principal {
  display: inline-flex;
  flex-direction: row;
  gap: 1.2rem;
  text-decoration: none;
  align-items: center;
  background-color: #333;
  border-radius: 1.2rem;
  color: var(--white-color);
  padding: 0 2rem;
  height: 4rem;
  transition: cubic-bezier(0.4, 0, 2.1);
  transition-duration: 0.15s;
  &:hover {
    transform: scale(1.1);
  }
}

.button__principal p {
  font-size: 1.6rem;
  margin: 0;
  text-wrap: nowrap;
}

.button__principal-icon {
  width: 2.4rem;
}

@media(max-width: 768px){
  .button__principal p {
    font-size: 1.4rem;
  }

  .button__principal-icon {
    width: 2rem;
  }
}