/* HEADER */

.hero__container {
  padding-top: 28rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.2rem;
}

.hero__logo-out {
  width: 16rem;
  display: block;
  border-radius: 1000px;
}

.hero__logo {
  width: 8rem;
  display: block;
  border-radius: 1000px;
}

.hero__information .hero__logo {
  display: none;
}

.hero__information {
  display: flex;
  flex-direction: column;

  gap: 1.6rem;

  max-width: 48rem;
}

.hero__title {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 5.2rem;
  margin: 0;
  color: var(--text-color);
}

.hero__subtitle {
  font-family: SFpro-Title, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 2.8rem;
  margin: 0;
  color: var(--interactive-color);
}

.hero__text {
  font-family: SFpro, sans-serif;
  font-size: 2.4rem;
  margin: 0;
  color: var(--text-color);
}

.hero__icons {
  display: flex;
  gap: 4rem;
}

.icons__link {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  text-decoration: none;
}

.icons__item {
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 4.4rem;
  }

  .hero__subtitle {
    font-size: 2.4rem;
  }

  .hero__text {
    font-size: 2rem;
  }

  .hero__container {
    padding-top: 16rem;
  }

  .hero__logo-out {
    display: none;
  }

  .hero__information .hero__logo {
    display: block;
  }
}
