.projects {
  display: flex;
  flex-direction: column;
}

.projects__section {
  padding-top: 3.2rem;
}

.category__nav {
  width: 100%;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category__button {
  border: 2px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--white-color);
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  &:hover {
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 600;
  }
}

.project__list {
  margin-top: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.project__container {
  padding-bottom: 2.4rem;
}

.project__title {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  color: var(--interactive-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
}

.project__title-details {
  font-size: 1.4rem;
  color: var(--white-color);
  background-color: var(--interactive-color);
  padding: 4px;
  padding: 0.6rem 1rem;
  border-radius: 1.2rem;
  margin-left: 8px;
}

@media (max-width: 540px) {
  .project__title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }

  .project__title-details {
    margin: 0.2rem 0 0.4rem 0;
  }
}

.project__text {
  font-size: 1.6rem;
  margin: 0;
  color: var(--text-color);
}

.project__details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: start;
  max-width: 72rem;
}

.project__tags {
  margin-top: 0.4rem;
  gap: 1.6rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tags__title {
  font-size: 1.6rem;
  margin: 0;
  font-weight: bold;
  color: var(--text-color);
}

.tags__img {
  width: 2.8rem;
}

.project__image-img {
  margin-top: 1.2rem;
}

.project__urls {
  margin-top: 1.6rem;
  gap: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .project__container {
    flex-direction: column;
    gap: 0.8rem;
  }

  .project__title {
    font-size: 1.8rem;
  }

  .project__tags {
    gap: 1.2rem;
  }

  .project__urls {
    gap: 1.2rem;
  }

  .tags__img {
    width: 2.4rem;
  }

  .project__image-img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}
