.tabs {
  width: 100%;
}

.tabs__container {
  display: flex;
  justify-content: space-between;
}

.tab {
  display: flex;
  cursor: pointer;
  gap: 1.6rem;
  padding: 1.6rem;
  --c: #80574e; /* the color */
  --b: 0.3em; /* border length*/
  --d: 15px; /* the cube depth */
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(
        at left var(--d) bottom var(--d),
        #0000 90deg,
        rgb(255 255 255 /0.3) 0 225deg,
        rgb(255 255 255 /0.6) 0
      )
      border-box,
    conic-gradient(at left var(--_s) bottom var(--_s), #0000 90deg, var(--c) 0)
      0 100% / calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  transition: 0.5s;
}

.tab__label {
  display: block;
}

.tab:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
}

.tab.active {
  transform: translate(0,0);
  clip-path: 
  polygon(
   0% var(--d), 
   var(--d) 0%, 
   100% 0%, 
   100% calc(100% - var(--d)), 
   calc(100% - var(--d)) 100%, 
   0% 100%
 );
 background-color: #f3eddf;
}

.tab-content {
  padding: 3.2rem 0;
  text-align: center;
}

.tab-icon {
  width: 2.4rem;
  color: var(--white-color);
}

@media (max-width: 900px) {
  .tab {
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .tab__label {
    display: none;
  }

  .tab{
    padding: 1.1rem;
    --b: 0.3em; /* border length*/
    --d: 10px; /* the cube depth */
  }
}


@media (max-width: 300px) {
  .tab{
    padding: 1.1rem;
    --b: 0.2em; /* border length*/
    --d: 5px; /* the cube depth */
  }
}

