.tabs {
  width: 100%;
}

.tabs__container {
  display: flex;
  justify-content: space-between;
}

.tab {
  display: flex;
  gap: 1.6rem;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.tab__label {
  display: block;
}

.tab:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
}

.tab.active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

}

.tab-content {
  padding: 3.2rem 0;
  text-align: center;
}

.tab-icon {
  width: 2.4rem;
}

@media (max-width: 900px) {
  .tab {
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .tab__label {
    display: none;
  }
  .tab.active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    transform: rotate(calc(var(--random) * 15deg));
  }
}
